* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size:62.5%
}
body{
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    /* padding: 20px; */
}


.App {
    height: auto;
    display:flex;
    padding: 4rem;
    margin: 6rem;
    background-color: #FFD;
    background-size: cover;
    text-transform:uppercase;
    text-decoration: bold;

}
.column {
    border: #eee 1px solid;
    margin: 6rem;
    flex-grow: 1;
    text-align: center;
}
.column h1 {
    background-color: #eef;
    background-size: cover;
}
.card {
    border: #fff 1px solid;
    padding: 6rem;
    display: flex;
    flex-grow: 1;
}
.card .title {
    flex-grow: 1;
    text-align: center;
    text-decoration: bold
    
}