* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size:62.5%
}
body{
    box-sizing: border-box;
}


.App {
    height: auto;
    display:flex;
    padding: 4rem;
    margin: 6rem;
    background-color: aliceblue;
    background-size: cover;
    text-transform: uppercase;

}
.column {
    border: #eee 1px solid;
    margin: 4rem;
    flex-grow: 1;
    text-align: center;
}
.column h1 {                
    background-color: antiquewhite;
    background-size: cover;
}
.card {
    border: #ddd 1px solid;
    padding: 4rem;
    display: flex;
    flex-grow: 1;

}
.card .title {
    flex-grow: 1;
    text-align: center;
    
}